<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <%= link_to  'Contact List', root_url, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <% if !user_signed_in? %>
        <li class="nav-item active">
          <%= link_to  'Nova Conta', new_user_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav justify-content-end">
        <% if !user_signed_in? %>
          <li class="nav-item">
              <%= link_to  'Entrar', entrar_path, class: 'nav-link' %>
          </li>
          <% else %>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                bem vindo, <%= current_user.name %> <span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'Minha Pagina', contacts_path, class:'dropdown-item'%>
                <%= link_to 'Editar', edit_user_path(current_user), class:'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Sair', sair_path, class:'dropdown-item', method: :delete %>
              </div>
            </li>
        <% end %>
        <li class="divider" role="separator"></li>
        </ul>
  </div>
</nav>

